body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", 
    Arial, sans-serif, "Apple Color Emoji", 
    "Segoe UI Emoji", "Segoe UI Symbol", 
    "Noto Color Emoji";
    margin: 0;
    padding: 0;
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
/* navbar style */
.nav{
  width: 100%;
  margin: 50px 0;
  /* margin-top: 20px; */
  position: fixed;
  z-index: 6;
  top: 0;
  text-transform: uppercase;
  }

  .nav_fixed{
    position: fixed;
    width: 100%;
    top: -120px;
    left: 0;
    right: 0;
    background: #000;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); 
    line-height: 70px;
    z-index: 6;
  }

  .nav .content{
    width: 80%;
    margin: auto;
  }

  .nav .content a{
    color: #fff;
  }
  .nav .content .home{
    float: left;
    margin: 0 10px;
    font-size: 17px;
    font-weight: bold;
  }
  .nav .content ul{
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav .content .item{
    margin: 0 10px;
    font-size: 17px;
    font-weight: bold;
  }

/* section1 style */
  .section1{
    width: 80%;
    margin: auto;
    margin-bottom: 120px;
    position: relative;
  }
  
  .section1 .card {
    min-height: 700px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 12px;
    position: relative;
    margin-bottom: -250px;
    z-index: 5;
  }
  
  .section1 .card img {
    width: 60%;
    height: auto;
    /* margin: 5% 5%; */
    margin: auto;
    border-radius: 10px;
  }

  .section1 .card .container{
    width: 32%;
    /* margin: auto 2.5; */
    height: 100%;
    margin: auto;
  }

  .section1 .card .container h3,h1{
    text-transform: uppercase;
  }

  .section1 .card .personal{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .section1 .card .personal span i{
    font-size: 22px;
    margin-right: 5px;
    color: #2196f3e3;
  }
  .section1 .card .personal span {
    margin: 3.8px 0;
  }

  .section1 .card .social{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
  }

  .section1 .card .social span i{
    font-size: 25px;
    margin-right: 10px;
    text-decoration: none;
    background-color: #2196f375;
    padding: 5px;
    border-radius: 5px;
    color: black;
  }

  .section1 .card .social i:hover{
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  }

/* section2 style */
  .section2{
    width: 100%;
    height: auto;
    background-color: #222;
    position: relative;
  }
  .section2 #myTab{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 200px;
  }

  .section2 #myTab li{
    display: inline-block;
  }
  .section2 #myTab a{
    display: inline-block;
    text-decoration: none;
    color:  #fff;
    background-color: #766dff;
    padding: 10px;
    border-radius: 10px;
    margin: 50px 20px;
  }
  .section2 #myTab a:hover{
    background-color: #88f3ff;
  }

  .section2 .tab-content{
    margin: auto;
  }
  /* .section2 #myTab li:active{
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  } */
  /* .section2 .list:before {
    content: "";
    height: 100%;
    width: 5px;
    background: #CDDC39;
    position: absolute;
    left: 46%;
    transform: translateX(-50%);
    top: -5px;
  } */
  .section2 .content{
    margin: auto;
    width: 80%;
    padding-bottom: 120px;
   
  }

  .education{
    margin: auto;
    width: 50%;
  }
  .experience{
    margin: auto;
    width: 50%;
  }
  .section2 .card{
    background-color: #333;
    width:90%;
    height: auto;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; /* 5px rounded corners */
  }

  .section2 .card .container{
    margin:10px 20px;
  }

  .section2 h2, h5{
    color: #fff;
  }

  .section2 .card h3{
    color: #bac964;
  }

  .section2 .card p{
    color: #ffffff66;
  }

  /* section3 style */
  .section3{
    margin: auto;
    text-align: center;
    color: #fff;
  }


  /* section4 style */
  .section4{
    margin: auto;
    text-align: center;
    color: #fff;
  }

   /* section5 style */
   .section5{
    margin: auto;
    text-align: center;
    background-color:  #ffffff;
    padding: 30px 0;
    width: 100%;
    color: black;
  }
  .section5 .row{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section5 .row .col{
    width: 50%;
  }
  .section5 .row .col input{
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
  }
  .section5 .row .col textarea{
    width: 80%;
    margin: 10px auto;   
    padding: 10px;
    height: 120px;
    border-radius: 10px;
  }
  .section5 .row .submit{
    width: 100%;
    text-align: right;
  }
  .section5 .row .submit input{
    color: #ffffff;
    background-color: #766dff;
    border-radius: 10px;
    padding: 8px;
    margin-right: 10%;
  }
  /* footer style */
  .footer{
    width: 100%;
    margin: auto;
    padding: 30px 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    bottom: 0;
    /* position: fixed; */
  }
  /* hr{
  	margin-top: 15px;
  	margin-bottom: 10px;
  }
  h1{
  	font-family: Times New Roman;
  }
  h2{
  	font-style: italic;
  }
  p,ul{
  	margin-top: 15px;
  	margin-bottom: 15px;
  	font: Serif;
  }
  h1,h2,hr,strong,p{
  	margin-top: 6px;
  	margin-left: 15px;
  	margin-right: 15px;
  } */
  /*strong,p,hr{
  	margin-bottom: 15px;
  }*/

